body {
  background-color: white !important;
}
* {
  font-family: 'Roboto', sans-serif !important;
}
.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about-intro .img-container {
  width: 100%;
  position: relative;
  margin-bottom: 30px ;
}
.about-intro .img-container img {
  width: 100%;
}
.about-intro .img-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 65px;
  font-size: 4rem;
  border-radius: 25px;
  user-select: none;
}
@media (max-width: 800px) {
  .about-intro .img-container h1 {
    padding: 30px;
    font-size: 2.5rem;
  }
}
.about-intro h3 {
  font-size: 2rem;
}
.about-intro p {
  font-size: 1.4rem;
  margin: 30px 0;
  max-width: 1600px;
}
.about-container {
  border-top: 1px solid black;
  padding-top: 30px;
}
.about-container h3 {
  font-size: 2.5rem;
  text-align: center;
}
.people-container {
  display: flex;
  flex-direction: column;
}
.person {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  transition: transform 0.7s;
}
.person .person-img {
  min-height: 320px;
  min-width: 320px;
  max-height: 320px;
  max-width: 320px;
  border: 1px solid black;
}
.person .person-content {
  max-width: 50%;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.person .person-content h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 0;
}
.person .person-content h3 h4 {
  font-size: 1.3rem;
  margin: 0 0 0 5px;
}
.person .person-content p {
  font-size: 1.3rem;
}
@media (max-width: 800px) {
  .person .person-content {
    align-items: center;
  }
}
@media (max-width: 800px) {
  .person {
    flex-direction: column !important;
    align-items: center;
  }
  .person .person-content {
    margin: 15px 0;
    max-width: 100%;
  }
}
.person:nth-child(odd) {
  flex-direction: row-reverse;
}
.person:hover {
  transform: scale(1.05);
  cursor: pointer;
}
@media (max-width: 800px) {
  .person:hover {
    transform: none;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  font-family: cursive;
}
body {
  background-color: lightblue;
}
h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 15px 0;
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  background-color: lightgrey;
  border-bottom: 1px solid black;
  font-weight: bold;
}
.nav .dropdown {
  z-index: 2;
  margin: 0 0 40px 0;
}
.nav .dropdown .dropdown-button {
  cursor: pointer;
  display: none;
}
.nav .dropdown .dropdown-items {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-decoration: none;
  position: absolute;
  width: 8%;
  margin: 0 0px 20rem 5rem;
}
.nav .dropdown .dropdown-items a {
  text-decoration: none;
  color: #2bc1ee;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  margin: 0px 0 20rem 20px;
  padding: 8px 15px 5px 10px;
  box-sizing: content-box;
  background-color: lightgrey;
}
.nav img {
  height: 75px;
  width: 75px;
  margin: 0 0 0 100px;
  z-index: 3;
}
.nav .link {
  margin: 0px 25px 0px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  background-color: #2bc1ee;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 100;
  transition: border-radius 0.7s, background-color 0.7s;
}
.nav .link:hover {
  background-color: #11a8d5;
  border-radius: 15px;
}
@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .nav .dropdown {
    z-index: 2;
  }
  .nav .dropdown .dropdown-button {
    margin: 0px 0 0 0;
    cursor: pointer;
    display: contents;
    max-width: 65px;
    max-height: 65px;
  }
  .nav .dropdown .img-class {
    margin: 2.5rem 0 0 10px;
    height: 40px;
    width: 40px;
  }
  .nav .dropdown .dropdown-items {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-decoration: none;
    position: absolute;
    width: 8%;
    margin: 0 0 0 2.2rem;
  }
  .nav .dropdown .dropdown-items a {
    text-decoration: none;
    color: #2bc1ee;
    border: 1px solid black;
    width: 70px;
    height: 32px;
    font-size: 1.3rem;
    margin: 2px 0 0 2px;
    box-sizing: content-box;
    background-color: lightgrey;
    text-align: center;
    border-radius: 6px;
  }
  .nav .dropdown .hidden {
    display: none;
  }
  .nav .logo {
    height: 75px;
    width: 75px;
    margin: 0 0 0 3rem;
  }
  .nav nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
  }
  .nav nav .link {
    margin: 0px 25px 0px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    background-color: #2bc1ee;
    padding: 15px;
    border-radius: 15px;
  }
}
.container {
  margin: 10px 55px;
}
.container .header {
  margin: 30px 0;
}
.container .header img {
  max-width: 100%;
  margin: 20px 0;
  border-radius: 6px;
  border: 0.5px solid black;
}
@media (max-width: 600px) {
  .container .header {
    display: flex;
    flex-flow: column-reverse;
    justify-content: auto;
    align-items: auto;
  }
}
.container .section {
  margin: 30px 0;
}
.container footer {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  padding: 25px 5px 0;
}
.container footer img {
  display: center;
  height: 76px;
  width: 80px;
  margin: 0 7rem 0 0;
  padding: 20px 0 10px 0;
}
.container footer h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 7.5rem 0 0;
  padding: 0 0 20px 0;
}
@media (max-width: 600px) {
  .container footer {
    margin: 0;
  }
  .container footer img {
    display: center;
    height: 76px;
    width: 80px;
    margin: 0;
    padding: 0;
  }
  .container footer h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
