.nav{   
    .flexBox(row nowrap, space-between, center);
    padding: 10px 0;
    width: 100%;
    background-color: @bg-color;
    border-bottom: 1px solid black;
    font-size: 1.55rem;
    font-weight: bold;
    
    .dropdown{
        z-index: 2;
        

        .dropdown-button{
            margin: 0 0 0 25px;   
            padding: 0 0 0 25px;           
            cursor: pointer;
        }
        .dropdown-items{
            .flexBox(column, center, center);
            z-index: 2;
            text-decoration: none;
            position: absolute;
            width:8%;
            margin: 0 0 0 25px; 

            a{
                text-decoration: none;
                color:@fontColor;
                border: 1px solid black;
                width: 70px;
                height:32px;
                font-size: 1.3rem;
                margin: 2px 0 0 20px;
                padding:8px 20px 5px 20px;
                box-sizing: content-box;
                background-color: @bg-color;
                text-align: center;
                border-radius: 6px;
            }
        }
        .hidden{
            display: none; 
        }
    }

    img{
        height: 75px;
        width: 75px;
        margin: 0 0 0 70px;
    }

    .link{
        margin: 0 35px 15px 10px;
        text-decoration: none;
        color:@fontColor;
    }
    
}
